<ion-view>
    <ion-content>
        
        <div class="image-logo">
            <div class="background-overlay"><img src="../img/hp-logo.png" class="image-wrapper"> 
            <button ion-button round outline class="login-signup-button">sign up</button>
            <button ion-button round outline class="login-signup-button login-btn" ng-click="goToLogin()">log in</button>
            </div>
            
        </div>
        

        
    </ion-content>
</ion-view>