<ion-view>
    <ion-content>

        <div class="image-logo">
            <div class="background-overlay-signup"><img src="../img/HP.png" class="image-wrapper-signup">
                <ion-list>

                    <ion-item class="text-name">
                        <ion-label floating class="text-wrapper" >Username</ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>

                    <ion-item class="text-name">
                        <ion-label floating class="text-wrapper" >Password</ion-label>
                        <ion-input type="password"></ion-input>
                    </ion-item>

                </ion-list>
                <button ion-button round outline class="login-signup-button logbtn" style=" background:white;" ng-click="goToLogin()">log in</button>
                <div class="row">
                    <div class="col col-50 ">
                    <button class="button icon-left ion-star button-positive btn-fb-google">Facebook</button>
                    </div>
                    <div class="col col-50 btn-fb-google">
                    <button class="button icon-left ion-star button-positive btn-fb-google">Google</button>
                    </div>
                </div>
            </div>

        </div>



    </ion-content>
</ion-view>