<ion-view>
<ion-content>
<div class="row">
   
    <div class="form-wrapper" >
        <div class="col s12 row title">
         <h4 >SIGN UP </h4>
        </div>
    <form class="col s12">
      <div class="row">
        
        <div class="input-field col s12">
            <input type="text" placeholder="Your Name" id="name">
            <!--<div class="row"> 
            <i class="material-icons">people</i>
            </div>-->
          <!--<input id="last_name" type="text" class="validate">
          <label for="last_name">Your Name</label>-->
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="I am not editable" id="disabled" type="text" class="validate">
          <label for="disabled">Disabled</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <button type="button" class="btn btn-primary" style="text-align:center;">Submit</button>
    </form>
    </div>
  </div>
        
</ion-content>
    </ion-view>