.image-wrapper {
    padding-top: 37%;
    padding-bottom: 48%;
    width: 20%;
    text-align: center;
}

.form-wrapper {
    background-image: url(../img/bg.jpeg);
    background-size: cover;
    opacity: 0.5;
}

.btn {
    border-radius: 8px;
    background: none;
    border-color: white;
}

.image-logo {
    position: relative;
    background-size: cover;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-position: 60%;
}

.background-overlay {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 150, 243, 0.92);
}

.login-signup-button {
    text-transform: uppercase;
    border-radius: 30px;
    background: none;
    text-align: center;
    margin: auto;
    padding: 15;
    width: 75%;
    height: 46px;
    display: block;
    border: 1px solid white;
    margin-bottom: 12px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.login-btn {
    background-color: white;
    color: $primary;
}