.background-overlay-signup {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color:  rgba(215, 222, 227, 0.93);
}

.image-wrapper-signup {
    padding-top: 20%;
    padding-bottom: 25%;
    width: 20%;
    text-align: center;
}

.text-name {
    border-color: $primary;
    width: 80%;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-top: 38px;
    background: none;
    margin: auto;
}
.text-wrapper{
    color: $primary !important;
}

.logbtn {
    color: $primary !important;
    margin-top: 50px !important;
    width: 80%;
}
.btn-fb-google{
    border-radius: 30px;
}